#mC{float: left; width: 10px; height: 1px; background-color: rgb(174,183,175); }	

#mCA{float: left; width: 10px; height: 18px;  align: bottom; }

#navlist li	{	display: inline;	list-style-type: none;	padding-right: 20px;}		


#letter {		
	background-color: rgb(174,183,175);		
	border: 1px solid black;	
	border-radius: 8px 8px 8px 8px;		
	float: left;		
	position: fixed;		
	min-height: 15px;		
	margin-bottom: 600px;		
	margin-right: 10px;		
	overflow: hidden;		
	text-align: center;		
	width: 50px;		
	height: 30px;		
}	

/*#cargando{		background-color: rgb(174,183,175);		border: 1px solid black;		border-radius: 8px 8px 8px 8px;		float: left;		position: fixed;		min-height: 15px;		margin-bottom: 1000px;		margin-left: 100px;		overflow: hidden;		text-align: center;		width: 580px;		height: 40px;		}		
*/
#menu {		
	background-color: rgb(174,183,175);		
	border: 1px solid black;		
	border-radius: 8px 8px 8px 8px;		
	float: left;		
	position: fixed;		
	min-height: 15px;		
	margin-bottom: 1px;		
	margin-right: 1px;		
	overflow: hidden;		
	text-align: left;		
	width: 770px;		
	height: 130px;		
}		

#textoTexto{		
	position: fixed;	
	margin-bottom: 10px;	
	width: 800px;		
	height: 170px;	
	bottom: 0px;
}

a {color: green; cursor: hand; cursor: pointer;}	a:visited { color: green; }

#output div {
	float: left;
	height: 20px;
	width: 14px;
	margin-bottom: 10px;
	margin: 10px 0 10px 0;
}
#output1 div {
	float: left;
	height: 20px;
	width: 14px;
	margin-bottom: 10px;
	margin: 10px 0 10px 0;
}

#cartel {
background-image: url(../../img/img.png);
background-position: 0px -599px;
background-repeat: no-repeat;
width: 15px; height: 15px;
}

#cartel1{
background-image: url(../../img/img.png);
background-position: -54px -528px;
background-repeat: no-repeat;
width: 15px; height: 15px;

}

